:root {
  --gradient: linear-gradient(to bottom, #00f, transparent);
}

body {
  --sb-track-color: #000;
  --sb-thumb-color: var(--gradient);
  --sb-size: 0.7vmax;
  min-height: 100vh;
  height: max-content;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /*  background-image: url('/assets/background.svg');
  background-size: contain; */
}



a,
button,
img {
  user-select: none;
}

/***************************SCROLL***************************/

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/***************************SI USO SHADCN COMENTO ESTO***************************/

/* button {
  background-color: transparent;
  border: none;
  outline: none;
}
 */